@import "tailwindcss";


input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1 {
    font-family: 'Taviraj', serif;
    font-weight: 100; /* Apply Taviraj Thin (100) */
}

h2, h3, p {
    font-family: 'DM Sans', sans-serif;
}

